/* for desktop */
@media (max-width: 1024px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .features-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columns */
    }

    .team-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing-grid {
        grid-template-columns: repeat(2, 1fr);
        /* Two plans per row */
    }








}






/* for mobile */
@media (max-width: 768px) {

    .about-cards {
        grid-template-columns: 1fr;
        grid-template-areas:
            "card-1"
            "card-2"
            "card-3"
            "card-4";
    }

    .div-2 {
        position: static;

    }

    .about-cards {
        grid-template-columns: 1fr;
    }

    .features-grid {
        grid-template-columns: 1fr;
    }

    .stats-grid {
        grid-template-columns: 1fr;
    }

    .details-row {
        flex-direction: column;
        text-align: center;
    }

    .details-row.reverse {
        flex-direction: column;
        /* Stack image and details vertically for reverse rows as well */
    }

    .gallery-grid {
        grid-template-columns: 1fr;
        /* 1 column */
    }

    .team-grid {
        grid-template-columns: 1fr;
    }

    .pricing-grid {
        grid-template-columns: 1fr;
        /* One plan per row */
    }
    .contact-form .form-row {
        flex-direction: column; 
    }

    .footer-columns {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }

    .container h1 {
        font-size: 10px;
        width: 100%;
    }
    .container {
        width: 100%;
    }

    .about .container {
        flex-direction: column;
    }
    .about-info{
        width: 100%;
    }
  .card{
        width: 100%;
    }
    .about-info {
        width: 100%; 
    }
    .child-div-2, .div-1 {
        width: 100%; 
    }



}






/* for mini devices */

@media (max-width: 480px) {
    .footer-columns {
        grid-template-columns: 1fr; /* One column */
    }
}